@CHARSET "UTF-8";
HTML  CSS  Result
EDIT ON
 /************Reset**************/
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}
html, body, div, object, iframe, fieldset { 
    margin: 0; 
    padding: 0; 
    border: 0;
} 
ol, ul { 
	
    list-style: none;
    margin: 0;
    padding: 0;
} 
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
}
header, footer, nav, section, hgroup, figure {
    display: block; 
}
legend {
    display: none;
}
/************End Reset************list img-list**/

/************Global**************/
body {
    background: #fff;
    color: #000;
    font: 100%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    padding: 0;
    -webkit-text-size-adjust: none;
}
a {
    color: #808080;
    text-decoration: none;
}
a:hover, a:focus {
    color: #e51837;
}
p {
    margin: 0 0 1em;
}
img, object, video {
    max-width: 100%;
    border: 0;
}
a img {
    border: 0;
    outline: 0;
}
h1 {
    font-size: 3em;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 0.2em;
}
h2 {
    font-size: 2em;
    line-height: 1.1;
    margin-bottom: 0.2em;
}
h3 {
    font-weight: normal;
    line-height: 1.1;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #ccc;
}
h1 a, h2 a, h3 a {
    display: block;
    color: #000;
}
h1 a:hover, h2 a:hover, h3 a:hover {
    color: #e51837;
}
blockquote {
    border-left: 0.5em solid #ddd;
    padding-left: 1em;
    margin-left: 1em;
}
small {
    color: #e51837;
}

input, textarea {
    border: 1px solid #000;
}

input[type=search] {
    -webkit-appearance: none;
    border-radius: 0;
}
::-webkit-input-placeholder {
    color: #808080;
}
:-moz-placeholder {  
    color: #808080;
}
/************End Global**************/

/* CSS Animations */
@-webkit-keyframes fadeout {
  0%   { background: #fff; }
  10%   { background: #eee; }
  100% { background: #fff; }
}
@-moz-keyframes fadeout {
  0%   { background: #fff; }
  10%   { background: #eee; }
  100% { background: #fff; }
}
@-o-keyframes fadeout {
  0%   { background: #fff; }
  10%   { background: #eee; }
  100% { background: #fff; }
}
@keyframes fadeout {
  0%   { background: #fff; }
  10%   { background: #eee; }
  100% { background: #fff; }
}


.list li {
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
/* table-cell로 4개만 나오게 설정 */
.inner {
  display: table-cell;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 60%;
}
.li-head {
  margin: 0;
}
.li-sub {
  margin: 0;
}

@media all and (min-width: 40em) {
  .list {
    padding: 0.5em;
    max-width: 90em;
    margin: 0 auto;
    overflow: hidden;
  }
  .list li {
    padding: 1em;
    display: block;
    width: 50%;
    float: left;
    background: none;
    border: 0;
  }
  .inner {
    display: block;
  }
  .li-img, .li-text, .inner {
    display: block;
    width: auto;
    padding: 0;
  }
  .li-text {
    padding: 1em 0;
  }
}

@media all and (min-width: 60em) {
  .list li {
    width: 25%;
  }
}


/*************************************************/

.list2 li {
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
/* table-cell로 4개만 나오게 설정 */
.inner2 {
  display: table-row ;
  overflow: hidden;
}
.li-img2 {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  padding-right: 1em;
}
.li-img2 img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text2 {
  display: table-cell;
  vertical-align: middle;
  width: 60%;
}
.li-head2 {
  margin: 0;
}
.li-sub2 {
  margin: 0;
}

@media all and (min-width: 40em) {
  .list2 {
    padding: 0.5em;
    max-width: 90em;
    margin: 0 auto;
    overflow: hidden;
  }
  .list2 li {
    padding: 1em;
    display: block;
    width: 50%;
    float: left;
    background: none;
    border: 0;
  }
  .inner2 {
    display: block;
  }
  .li-img2, .li-text2, .inner2 {
    display: block;
    width: auto;
    padding: 0;
  }
  .li-text2 {
    padding: 1em 0;
  }
}

@media all and (min-width: 60em) {
  .list2 li {
    width: 20%;
  }
}


table { 
    border-collapse: collapse; 
    border-spacing: 0; 
}
header, footer, nav, section, hgroup, figure {
    display: block; 
}
legend {
    display: none;
}
/************End Reset************list img-list**/

/************Global**************/
body {
    background: #fff;
    color: #000;
    font: 100%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    padding: 0;
    -webkit-text-size-adjust: none;
}
a {
    color: #808080;
    text-decoration: none;
}
a:hover, a:focus {
    color: #e51837;
}
p {
    margin: 0 0 1em;
}
img, object, video {
    max-width: 100%;
    border: 0;
}
a img {
    border: 0;
    outline: 0;
}
h1 {
    font-size: 3em;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 0.2em;
}
h2 {
    font-size: 2em;
    line-height: 1.1;
    margin-bottom: 0.2em;
}
h3 {
    font-weight: normal;
    line-height: 1.1;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #ccc;
}
h1 a, h2 a, h3 a {
    display: block;
    color: #000;
}
h1 a:hover, h2 a:hover, h3 a:hover {
    color: #e51837;
}
blockquote {
    border-left: 0.5em solid #ddd;
    padding-left: 1em;
    margin-left: 1em;
}
small {
    color: #e51837;
}

input, textarea {
    border: 1px solid #000;
}

input[type=search] {
    -webkit-appearance: none;
    border-radius: 0;
}
::-webkit-input-placeholder {
    color: #808080;
}
:-moz-placeholder {  
    color: #808080;
}
/************End Global**************/

/* CSS Animations */
@-webkit-keyframes fadeout {
  0%   { background: #fff; }
  10%   { background: #eee; }
  100% { background: #fff; }
}
@-moz-keyframes fadeout {
  0%   { background: #fff; }
  10%   { background: #eee; }
  100% { background: #fff; }
}
@-o-keyframes fadeout {
  0%   { background: #fff; }
  10%   { background: #eee; }
  100% { background: #fff; }
}
@keyframes fadeout {
  0%   { background: #fff; }
  10%   { background: #eee; }
  100% { background: #fff; }
}


.list li {
/* 	border: 3px solid black; */
  border-bottom: 3px solid #000000;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
/* table-cell로 4개만 나오게 설정 */
.inner {
  display: table-cell;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 60%;
}
.li-head {
  margin: 0;
}
.li-sub {
  margin: 0;
}

@media all and (min-width: 40em) {
  .list {
    padding: 0.5em;
    max-width: 90em;
    margin: 0 auto;
    overflow: hidden;
  }
  .list li {
    padding: 1em;
    display: block;
    width: 5.0%;
    float: left;
    background: none;
    border: 0;
  }
  .inner {
    display: block;
  }
  .li-img, .li-text, .inner {
    display: block;
    width: auto;
    padding: 0;
  }
  .li-text {
    padding: 1em 0;
  }
}

@media all and (min-width: 60em) {
  .list li {
    width: 25%;
  }
}


/*********************BEST4****************************/

.list2 li {
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
/* table-cell로 4개만 나오게 설정 */
.inner2 {
  display: table-row ;
  overflow: hidden;
}
.li-img2 {
  display: table-row;
  vertical-align: middle;
  width: 90%;
  padding-right: 1em;
}
.li-img2 img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text2 {
  display: table-cell;
  vertical-align: middle;
  width: 80%;
}
.li-head2 {
  margin: 0;
}
.li-sub2 {
  margin: 0;
}

@media all and (min-width: 40em) {
  .list2 {
    padding: 0.5em;
    max-width: 90em;
    margin: 0 auto;
    overflow: hidden;
  }
  .list2 li {
    padding: 1em;
    display: block;
    width: 50%;
    float: left;
    background: none;
    border: 0;
  }
  .inner2 {
    display: block;
  }
  .li-img2, .li-text2, .inner2 {
    display: block;
    width: auto;
    padding: 0;
  }
  .li-text2 {
    padding: 1em 0;
  }
}

@media all and (min-width: 60em) {
  .list2 li {
    width: 20%;
  }
}
/***********************전체 LIST******************************/

/******************view(상세페이지)*********************/

