/* 사용 폰트모음 */
/* font-Viner_Hand_ITC_가입성공페이지(welcome to~ */
.font-Viner_Hand_ITC {
	font-family: "Viner Hand ITC";
	src: url("/font/VINERITC.TTF");
}

/* 회원가입성공 페이지 _ ID, Name 등 속성명  */
.font-Broadway {
	font-family: "Broadway";
	src: url("/font/BROADW.TTF");
}

/* 에러메시지 */
.error{
  font-size:80%;
  color:#808080;
}

/* 사용 button style 모음 */
.btn-style1  {
  padding: 3px 6px;
  font-size:12px;
  font-weight:bold;
  color: #333;
  background-color:  #ffa366;
  border-color: #ccc;
}

/* 회색버튼 ex)회원가입성공페이지_ 로그인버튼 */
.btn-block {
  color:#444444;
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-top :5px;
  margin-bottom : 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-block:hover,
.btn-block:focus,
.btn-block:active,
.btn-block.active,
.btn-block.disabled,
.btn-block[disabled] {
  font-weight:bold;
  color: #444444;
  background-color: #f1f1f1;
}

.btn-block:active,
.btn-block.active {
  background-color: #d8d8d8 \9;
}

/* 경혜 form ex. 회원가입페이지 */

.ccfield-prepend{
	margin-bottom:10px;
	width:100%;
}

.ccform-addon{
	color:#f8ae45; 
	float:left;
	padding:8px;
	width:8%;
	height:34px;
	background:#FFFFFF;
	border: 1px solid #f1f1f1;
	text-align:center;
	
}

.ccformfield {
	color:#000000; 
	background:#FFFFFF;
	border: 1px solid #f1f1f1;
	padding:15.5px;
	width:50%;
	height:34px;
	font-family: 'Lato',Arial,sans-serif;
	font-size:14px;
	margin:0;
}

.ccformfield {
	font-family: 'Lato',Arial,sans-serif;
}
.ccbtn{
	font-size:13px;
	border:none;
	background:#f8ae45;
	height:28px;
	color:#FFFFFF;
	cursor:pointer;
	text-decoration:none;
	font-weight:bold;
}
.ccbtn:hover{
	background:#d8850e;
}

.ccfield-submit-part{
	text-align:center;
}

/* 프로필 보이는 부분 ex. 회원가입성공페이지*/
.card.hovercard {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 430px;
	padding-top: 0;
	overflow: hidden;
	text-align: center;
	background-color: #fff;
	border: 1px solid #f1f1f1;
	border-radius: 5px;
}

.card.hovercard img {
	width: 430px;
	height: 230px;
}

.card.hovercard .avatar {
	position: relative;
	top: -100px;
	margin-bottom: -40px;
}

.card.hovercard .avatar img {
	width: 150px;
	height: 150px;
	max-width: 150px;
	max-height: 150px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.card.hovercard .info {
	position: relative;
	top: -50px;
	padding: 4px 8px 10px;
}

.card.hovercard .info .title {
	margin-bottom: 4px;
	font-size: 28px;
	line-height: 1;
	color: #6D6C75;
	vertical-align: middle;
	padding-top:20px;
}

.card.hovercard .info .desc {
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	color: #737373;
	text-overflow: ellipsis;
	padding-top:25px;
}

.card.hovercard .bottom {
	position: relative;
	top: -25px;
	padding: 0 20px;
	margin-bottom: 17px;
}

/* ****** */
.card.hovercard .bottom-mypage {
	padding: 0 20px;
	margin-top:30px;
	margin-bottom: -10px;
}
/* ****** */

.member-join-success-table {
	margin-left: auto;
	margin-right: auto;
	width : 90%;
	/* border:1px solid lightgrey; */
}
.table-attribute-name{
	width:33%;
    color: #444444;
    font-weight:bold;
    font-size:18px;
    padding-top : 10px;
    padding-bottom:10px;
}
.table-attribute-text{
	font-size:15px;
	text-align:left;
	padding-top:3px;
	padding-left:5px;
}