<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.co.turnup_fridger.config.mybatis.mapper.BoardReviewMapper">
	
		<!-- 
			boardReview 테이블 관련 mapper
			+ boardReview 등록
			+ boardReview 수정
			+ boardReview 삭제
			+ boardReview 조회
		 -->
	
	<sql id="all-column">
		BOARD_REVIEW_ID, BOARD_REVIEW_TITLE, BOARD_REVIEW_TXT, 
		BOARD_REVIEW_DATE, BOARD_REVIEW_IMAGE_NAME, BOARD_REVIEW_IMAGE_SAVE_NAME, BOARD_REVIEW_STAR, MEMBER_ID, RECIPE_ID
	</sql> 	
	
	<!-- boardReview 기본 조회 sql -->
	<sql id="boardReview-select-sql">
		 SELECT b.BOARD_REVIEW_ID, b.BOARD_REVIEW_TITLE, b.BOARD_REVIEW_TXT, 
				b.BOARD_REVIEW_DATE, b.BOARD_REVIEW_IMAGE_NAME, b.BOARD_REVIEW_IMAGE_SAVE_NAME, b.BOARD_REVIEW_STAR, b.MEMBER_ID, b.RECIPE_ID,
				r.recipe_id, r.recipe_name, r.sumry, r.category_code, r.category_name, r.type_code,
				r.type_name, r.cooking_time, r.calorie, r.qnt, r.recipe_level,
				r.irdnt_code, r.price, r.img_url, r.det_url, r.recipe_hits
		 FROM BOARD_REVIEW b, RECIPE_INFO r
		 WHERE b.RECIPE_ID = r.RECIPE_ID
	</sql>
	
		<!-- boardReviewJoin 기본 조회 sql -->
	<sql id="boardReviewJoin-select-sql">
		SELECT BOARD_REVIEW_ID, BOARD_REVIEW_TITLE, BOARD_REVIEW_TXT, 
			   BOARD_REVIEW_DATE, BOARD_REVIEW_IMAGE_NAME, BOARD_REVIEW_IMAGE_SAVE_NAME, BOARD_REVIEW_STAR, MEMBER_ID, RECIPE_ID
		FROM BOARD_REVIEW
	</sql>
	
	
	
	
	<!-- ResultMap 등록 -->
	<resultMap id="boardReview-resultmap" type="boardReview">
		<id column="BOARD_REVIEW_ID" property="boardReviewId"/>
		<result column="BOARD_REVIEW_TITLE" property="boardReviewTitle"/>
		<result column="BOARD_REVIEW_TXT" property="boardReviewTxt"/>
		<result column="BOARD_REVIEW_DATE" property="boardReviewDate"/>
		<result column="BOARD_REVIEW_IMAGE_NAME" property="imageName"/>
		<result column="BOARD_REVIEW_IMAGE_SAVE_NAME" property="imageSaveName"/>
		<result column="BOARD_REVIEW_STAR" property="boardReviewStar"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="RECIPE_ID" property="recipeId"/>	
	</resultMap>
	
	
	<!-- ResultMap boardReview-recipeInfo 등록 -->
	<resultMap id="boardReview-recipeInfo-resultmap" type="boardReview" extends="boardReview-resultmap">
		<association property="recipeInfo" resultMap="kr.co.turnup_fridger.config.mybatis.mapper.RecipeInfoMapper.RecipeInfo-resultmap"/>
	</resultMap>
	
		<!-- 등록 SQL -->	
	<insert id="insertBoardReview" parameterType="boardReview">
		<selectKey resultType="_int" keyProperty="boardReviewId" order="BEFORE">
			select BOARD_REVIEW_ID.nextval from dual
		</selectKey>
		INSERT INTO BOARD_REVIEW
		VALUES(
				#{boardReviewId},
				#{boardReviewTitle},
				#{boardReviewTxt},
				SYSDATE,
				#{imageName},
				#{imageSaveName},
				#{boardReviewStar},
				#{memberId},
				#{recipeId}
			   )	
	</insert>
	
	<!-- 업데이트 SQL -->
	<update id="updateBoardReview" parameterType="boardReview">
		UPDATE 	BOARD_REVIEW 
		SET		BOARD_REVIEW_TITLE = #{boardReviewTitle},
				BOARD_REVIEW_TXT = #{boardReviewTxt},
				BOARD_REVIEW_DATE = SYSDATE,
				BOARD_REVIEW_IMAGE_NAME = #{imageName},
				BOARD_REVIEW_IMAGE_SAVE_NAME = #{imageSaveName},
				BOARD_REVIEW_STAR = #{boardReviewStar},
				MEMBER_ID = #{memberId},
				RECIPE_ID = #{recipeId}
		WHERE	BOARD_REVIEW_ID = #{boardReviewId}
	</update>
	
	<!-- 이미지 null로 수정하는 SQL -->
	<update id="updateImageNull" parameterType="boardReview">
		UPDATE 	BOARD_REVIEW 
		SET		BOARD_REVIEW_TITLE = #{boardReviewTitle},
				BOARD_REVIEW_TXT = #{boardReviewTxt},
				BOARD_REVIEW_DATE = SYSDATE,
				BOARD_REVIEW_IMAGE_NAME = null,
				BOARD_REVIEW_IMAGE_SAVE_NAME = null,
				BOARD_REVIEW_STAR = #{boardReviewStar},
				MEMBER_ID = #{memberId},
				RECIPE_ID = #{recipeId}
		WHERE	BOARD_REVIEW_ID = #{boardReviewId}
	</update>	
	

	<!-- 삭세 SQL-->
	<delete id="deleteBoardReview" parameterType="_int">
		DELETE FROM BOARD_REVIEW WHERE BOARD_REVIEW_ID = #{boardReviewId}
	</delete>
	
	<!-- BOARD_Review 카운트  -->
	<select id = "selectBoardReviewCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD_REVIEW
	</select>
	

	<!-- LIST 조회하는 SQL-->
	<select id="selectBoardReviewList" resultMap="boardReview-recipeInfo-resultmap">
		<include refid="boardReview-select-sql"/>
		 ORDER BY b.BOARD_REVIEW_DATE DESC
	</select>
	
	<!-- LIST 별점순  조회하는 SQL-->
	<select id="selectBoardReviewByStarList" resultMap="boardReview-recipeInfo-resultmap">
		<include refid="boardReview-select-sql"/>
		 ORDER BY b.BOARD_REVIEW_STAR DESC
	</select>		
	

	<!-- BOARD_Review memberId 카운트  -->
	<select id = "selectBoardReviewMemberIdCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD_REVIEW
		AND MEMBER_ID LIKE #{memberId}
	</select>
	
	<!-- LIST 아이디 조회하는 SQL-->
	<select id="selectBoardReviewByMemberIdList" parameterType="string" resultMap="boardReview-recipeInfo-resultmap">
		<include refid="boardReview-select-sql"/>
		 AND b.MEMBER_ID = #{memberId}
		 ORDER BY b.BOARD_REVIEW_DATE DESC
	</select>	
	
	<!-- BOARD_Review 레시피 이름 카운트  -->
	<select id = "selectBoardReviewRecipeNameCount" resultType="_int">
		SELECT COUNT(*) FROM RECIPE_INFO
		AND RECIPE_NAME LIKE '%'||#{recipeName}||'%'
	</select>

	<!-- LIST 레시피 이름  조회하는 SQL-->
	<select id="selectBoardReviewByRecipeNameList" parameterType="string" resultMap="boardReview-recipeInfo-resultmap">
		<include refid="boardReview-select-sql"/>
		 and r.RECIPE_NAME LIKE '%'||#{recipeName}||'%'
		 ORDER BY b.BOARD_REVIEW_DATE DESC
	</select>	
	
	
	<!-- reviewId로 조회하는 SQL-->	
		<select id="selectBoardReviewByBoardReviewId" parameterType="int" resultMap="boardReview-recipeInfo-resultmap">
		<include refid="boardReview-select-sql"/>
		 and b.BOARD_REVIEW_ID = #{boardReviewId}
	</select>	
	
</mapper>