<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.turnup_fridger.config.mybatis.mapper.BoardShareRecipeImgMapper">

	
	<insert id="insertBoardShareRecipeImg" parameterType="java.util.HashMap">
		<selectKey keyProperty="boardShareRecipeImgKey" resultType="int" order="BEFORE">
			SELECT BOARD_SHARE_RECIPE_IMG_KEY.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO BOARD_SHARE_RECIPE_IMG
		VALUES(
				#{boardShareRecipeImgKey},
				#{image},
				#{recipeId})
	</insert>

	<!-- DELETE : 이미지 -->
	<delete id="deleteBoardShareRecipeImgByKey" parameterType="_int">
		DELETE FROM BOARD_SHARE_RECIPE_IMG
		WHERE BOARD_SHARE_RECIPE_IMG_KEY = #{value}
	</delete>

	<!-- DELETE : 이미지 -->
	<delete id="deleteBoardShareRecipeImgAll" parameterType="_int">
		delete
		from BOARD_SHARE_RECIPE_IMG
		where BOARD_SHARE_RECIPE_ID = #{value}
		
	</delete>
	<select id="selectBoardShareRecipeImg" parameterType="_int"
		resultType="java.lang.String">
		SELECT BOARD_SHARE_RECIPE_IMG_KEY,
				BOARD_SHARE_RECIPE_IMG_URL,
				BOARD_SHARE_RECIPE_ID
		FROM BOARD_SHARE_RECIPE_IMG
		WHERE BOARD_SHARE_RECIPE_ID = #{value}
	</select>
	
	
</mapper>