<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.turnup_fridger.config.mybatis.mapper.BoardShareRecipeMapper">
	
	<sql id="select-boardShareRecipe">
	
		SELECT BOARD_SHARE_RECIPE_ID, 
				BOARD_SHARE_RECIPE_TITLE, 
				BOARD_SHARE_RECIPE_TXT, 
				BOARD_SHARE_RECIPE_DATE, 
				BOARD_SHARE_RECIPE_RECOMMAND, 
				BOARD_SHARE_RECIPE_HITS, 
				BOARD_SHARE_IRDNT_ETC, 
				BOARD_SHARE_RECIPE_SAVE_NAME,
				BOARD_SHARE_RECIPE_ORIGINAL,
				MEMBER_ID
				FROM BOARD_SHARE_RECIPE
	</sql>
	
	<sql id="all-column">
		BOARD_SHARE_RECIPE_ID, 
		BOARD_SHARE_RECIPE_TITLE, 
		BOARD_SHARE_RECIPE_TXT, 
		BOARD_SHARE_RECIPE_DATE, 
		BOARD_SHARE_RECIPE_RECOMMAND, 
		BOARD_SHARE_RECIPE_HITS, 
		BOARD_SHARE_IRDNT_ETC, 
		BOARD_SHARE_RECIPE_SAVE_NAME,
		BOARD_SHARE_RECIPE_ORIGINAL,
		MEMBER_ID
	</sql>
	
	
	<!-- 공유게시판 resultmap  -->
	<resultMap type="boardShareRecipe" id="boardShareRecipe-resultmap">
		<id column="BOARD_SHARE_RECIPE_ID" 				property="recipeId"/>
		<result column="BOARD_SHARE_RECIPE_TITLE" 		property="title"/>
		<result column="BOARD_SHARE_RECIPE_TXT" 		property="txt"/>
		<result column="BOARD_SHARE_RECIPE_DATE" 		property="date"/>
		<result column="BOARD_SHARE_RECIPE_RECOMMAND" 	property="recommand"/>
		<result column="BOARD_SHARE_RECIPE_HITS" 		property="hits"/>
		<result column="BOARD_SHARE_IRDNT_ETC" 			property="etc"/>
		<result column="BOARD_SHARE_RECIPE_SAVE_NAME"   property="saveName"/>
		<result column="BOARD_SHARE_RECIPE_ORIGINAL"	property="original"/>
		<result column="MEMBER_ID" 						property="memberId"/>
	</resultMap>
	
	<!-- 회원 추천 현황 resultMap -->
	<resultMap type="memberRecipeRecommand" id="memberRecommand-resultMap">
		<id column="MEMBER_RECIPE_RECOMMAND_KEY" 		property="recommandKey"/>
		<result column="BOARD_SHARE_RECIPE_ID" 			property="recipeId"/>
		<result column="MEMBER_ID" 						property="memberId"/>
	</resultMap>
	
	<!-- 레시피공유게시판 + 추천현황 resultMap -->
	<resultMap type="boardShareRecipe" id="boardShareRecipe-recommand-resultMap" extends="boardShareRecipe-resultmap">
		<collection ofType="MemberRecipeRecommand" 		property="memberRecommand">
		<result column="MEMBER_RECIPE_RECOMMAND_KEY" 	property="recommandKey"/>
		<result column="BOARD_SHARE_RECIPE_ID" 			property="recipeId"/>
		<result column="MEMBER_ID" 						property="memberId"/>
		</collection>
	</resultMap>
	
	
	<!-- 레시피공유게시판 + 공유재료 resultMap  -->
	<resultMap type="boardShareRecipe" id="boardShareRecipe-irdnt-resultmap" extends="boardShareRecipe-resultmap">
		<!-- 재료명을 받는 ArrayList -->
		<collection ofType="ShareRecipeIrdnt" 			property="shareRecipeIrdnt">
		<result column="SHARE_RECIPE_IRDNT_KEY"			property="irdntKey"/>
		<result column="BOARD_SHARE_RECIPE_ID"			property="recipeId"/>
		<result column="IRDNT_ID"						property="irdntId"/>
		</collection>
	</resultMap> 
	
	
	
	<!-- INSERT -->
	<insert id="insertBoardShareRecipe" parameterType="boardShareRecipe">
	<selectKey keyProperty="recipeId" resultType="int" order="BEFORE">
		SELECT BOARD_SHARE_RECIPE_ID.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO BOARD_SHARE_RECIPE VALUES(
											#{recipeId},
											#{title},
											#{txt},
											SYSDATE,
											#{recommand},
											#{hits},
											#{etc},
											#{saveName},
											#{original},
											#{memberId}
											)
	</insert>
	
	<!-- DELETE -->
	<delete id="deleteBoardShareRecipe" parameterType="int">
		DELETE FROM BOARD_SHARE_RECIPE
		WHERE BOARD_SHARE_RECIPE_ID = #{recipeId}
	</delete>
	
	<!-- UPDATE -->
	<update id="updateBoardShareRecipeByRecipeId" parameterType="boardShareRecipe">
		UPDATE BOARD_SHARE_RECIPE 
		SET 
			BOARD_SHARE_RECIPE_TITLE = #{title},
			BOARD_SHARE_RECIPE_TXT = #{txt},
			BOARD_SHARE_RECIPE_DATE = SYSDATE,
			BOARD_SHARE_RECIPE_RECOMMAND = #{recommand},
			BOARD_SHARE_RECIPE_HITS = #{hits},
			BOARD_SHARE_IRDNT_ETC = #{etc},
			BOARD_SHARE_RECIPE_SAVE_NAME = #{saveName},
			BOARD_SHARE_RECIPE_ORIGINAL = #{original},
			MEMBER_ID = #{memberId}
		WHERE BOARD_SHARE_RECIPE_ID = #{recipeId}
	</update>	
	
	<!-- 조회수  -->
	<update id="increaseHit" parameterType="int">
	UPDATE BOARD_SHARE_RECIPE 
	SET BOARD_SHARE_RECIPE_HITS = BOARD_SHARE_RECIPE_HITS + 1
	WHERE BOARD_SHARE_RECIPE_ID = #{recipeId}
	</update>
	
	<!-- SELECT : 제목으로 조회 O -->
	<!-- <select id="selectBoardShareRecipeByTitleToSearch" parameterType="java.lang.String"
	resultMap="boardShareRecipe-irdnt-resultmap">
	<include refid="select-boardShareRecipe"/>
	WHERE BOARD_SHARE_RECIPE_TITLE LIKE '%'||#{title}||'%' -->

	<select id="selectBoardShareRecipeByTitle" parameterType="java.util.HashMap" resultMap="boardShareRecipe-resultmap">
	SELECT 
	<include refid="all-column"/>
	FROM (
		SELECT rownum rnum, <include refid="all-column"/>
		FROM(
			<include refid="select-boardShareRecipe" />
			WHERE BOARD_SHARE_RECIPE_TITLE LIKE '%'||#{title}||'%')
		WHERE rownum &lt;=#{endIndex})
	WHERE rnum>=#{startIndex}

	</select>

	<select id="selectBoardShareRecipeByTitleCount" parameterType="java.util.HashMap" resultType="_int">
		select count(*)
		from BOARD_SHARE_RECIPE
		WHERE BOARD_SHARE_RECIPE_TITLE LIKE '%'||#{value}||'%'
	</select>

	
	<!-- 페이징 카운터  -->
	<select id="selectBoardCount" resultType="int">
		SELECT COUNT(*) FROM BOARD_SHARE_RECIPE 
	</select>

	<!-- SELECT 페이징 : 전체조회 O -->
	<select id="selectBoardShareRecipeByAll" parameterType="java.util.HashMap" resultMap="boardShareRecipe-resultmap" >
	SELECT<include refid="all-column"/>
	FROM (
			SELECT ROWNUM RNUM, <include refid="all-column"/>
			FROM(
				<include refid="select-boardShareRecipe"/>
				 ORDER BY BOARD_SHARE_RECIPE_ID DESC
				
				)
			WHERE ROWNUM &lt;=#{endIndex}
			)
	WHERE RNUM >=#{startIndex}
	</select>
	
	<!-- 추천 수정 +1 -->
	<update id="updateBoardRecommand" parameterType="int">
	UPDATE BOARD_SHARE_RECIPE
	SET BOARD_SHARE_RECIPE_RECOMMAND = BOARD_SHARE_RECIPE_RECOMMAND + 1
	WHERE BOARD_SHARE_RECIPE_ID = #{value}
	</update>
	
	<!-- 추천수 등록 -->
	<insert id="insertRecommand" parameterType="memberRecipeRecommand">
	<selectKey keyProperty="recommandKey" resultType="int" order="BEFORE">
		SELECT MEMBER_RECIPE_RECOMMAND_KEY.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO MEMBER_RECIPE_RECOMMAND
	VALUES( #{recommandKey}, 
			#{recipeId}, 
			#{memberId})
	
	</insert>
	
	<!-- 추천 조회 : 2중 조인(공유+추천) -->
	<select id="selectRecommand" parameterType="java.util.HashMap" resultMap="boardShareRecipe-recommand-resultMap">
	SELECT 	b.BOARD_SHARE_RECIPE_ID, 
			b.BOARD_SHARE_RECIPE_TITLE, 
			b.BOARD_SHARE_RECIPE_TXT, 
			b.BOARD_SHARE_RECIPE_DATE, 
			b.BOARD_SHARE_RECIPE_RECOMMAND, 
			b.BOARD_SHARE_RECIPE_HITS, 
			b.BOARD_SHARE_IRDNT_ETC , 
			b.BOARD_SHARE_RECIPE_SAVE_NAME,
			b.BOARD_SHARE_RECIPE_ORIGINAL,
			b.MEMBER_ID,
			r.MEMBER_RECIPE_RECOMMAND_KEY,
			r.BOARD_SHARE_RECIPE_ID,
			r.MEMBER_ID
	FROM BOARD_SHARE_RECIPE b, MEMBER_RECIPE_RECOMMAND r 
	WHERE b.BOARD_SHARE_RECIPE_ID = r.BOARD_SHARE_RECIPE_ID(+)
	AND b.BOARD_SHARE_RECIPE_ID = #{recipeId}
	AND r.MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectRecommandByRecipeId" parameterType="int" resultMap="boardShareRecipe-recommand-resultMap">
	SELECT * FROM MEMBER_RECIPE_RECOMMAND
	WHERE BOARD_SHARE_RECIPE_ID = #{recipeId}
	</select>
	
	<select id="selectRecommandOne" parameterType="int" resultMap="boardShareRecipe-recommand-resultMap">
	SELECT * FROM MEMBER_RECIPE_RECOMMAND
	WHERE BOARD_SHARE_RECIPE_ID = #{recipeId}
	</select>
	
	
	<!-- 쓸지안쓸지 다시한번 확인 -->
	<delete id="deleteRecommand" parameterType="int">
	DELETE FROM MEMBER_RECIPE_RECOMMAND
	WHERE BOARD_SHARE_RECIPE_ID = #{recipeId}
	</delete>
	
	<select id="selectBoardByTitileCount" parameterType="java.util.HashMap" resultMap="boardShareRecipe-resultmap">
		SELECT COUNT(*)
		FROM BOARD_SHARE_RECIPE
		WHERE BOARD_SHARE_RECIPE_TITLE LIKE '%'||#{title}||'%'
	</select>
	
	<select id="boardSearchByTitle" parameterType="java.util.HashMap" resultMap="boardShareRecipe-resultmap">
	SELECT<include refid="all-column"/>
	FROM(
		SELECT ROWNUM RNUM, <include refid="all-column"/>
		FROM (
		 	<include refid="select-boardShareRecipe"/>
			WHERE BOARD_SHARE_RECIPE_TITLE LIKE '%'||#{title}||'%'
			ORDER BY BOARD_SHARE_RECIPE_DATE DESC
		)
		WHERE ROWNUM &lt;=#{endIndex}
	)
	WHERE RNUM>=#{startIndex}
	</select>
	
	
	
	<select id="boardSearchByTxt" parameterType="java.util.HashMap" resultMap="boardShareRecipe-resultmap">
	SELECT<include refid="all-column"/>
	FROM(
		SELECT ROWNUM RNUM, <include refid="all-column"/>
		FROM (
		 	<include refid="select-boardShareRecipe"/> 
			WHERE BOARD_SHARE_RECIPE_TXT LIKE '%'||#{txt}||'%'
			ORDER BY BOARD_SHARE_RECIPE_DATE DESC
		)
		WHERE ROWNUM &lt;=#{endIndex}
	)
	WHERE RNUM>=#{startIndex}
	</select>
	
	<select id="selectBoardByTxtCount" parameterType="java.util.HashMap" resultMap="boardShareRecipe-resultmap">
		SELECT COUNT(*)
		FROM BOARD_SHARE_RECIPE
		WHERE BOARD_SHARE_RECIPE_TXT LIKE '%'||#{txt}||'%'
	</select>
	
	<select id="boardSearchByMemberId" parameterType="java.util.HashMap" resultMap="boardShareRecipe-resultmap">
	SELECT<include refid="all-column"/>
	FROM(
		SELECT ROWNUM RNUM, <include refid="all-column"/>
		FROM (
		 	<include refid="select-boardShareRecipe"/>
			WHERE MEMBER_ID LIKE '%'||#{memberId}||'%'
			ORDER BY BOARD_SHARE_RECIPE_DATE DESC
		)
		WHERE ROWNUM &lt;=#{endIndex}
	)
	WHERE RNUM>=#{startIndex}
	</select>
	
	<select id="selectBoardByMemberIdCount" parameterType="java.util.HashMap" resultMap="boardShareRecipe-resultmap">
		SELECT COUNT(*)
		FROM BOARD_SHARE_RECIPE
		WHERE MEMBER_ID LIKE '%'||#{memberId}||'%'
	</select>
	
	<select id="selectBoardTop4" resultMap="boardShareRecipe-resultmap">
	SELECT ROWNUM RNUM, <include refid="all-column"/>
	FROM (
			<include refid="select-boardShareRecipe"/>
			<!-- HAVING BOARD_SHARE_RECIPE_RECOMMAND == BOARD_SHARE_RECIPE_RECOMMAND --> 
			ORDER BY BOARD_SHARE_RECIPE_RECOMMAND DESC 
			<!-- ORDER BY BOARD_SHARE_RECIPE_DATE ASC -->
			  
			
		)
	WHERE ROWNUM <![CDATA[<=]]> 4
	</select>
	
	
	<!--******************************************************************************  -->
	
	
	<!-- SELECT (사진+공유게시판) + 재료 조인 -->
	 <select id="selectBoardByShareIrdnt" parameterType="int"
	resultMap="boardShareRecipe-irdnt-resultmap">
	SELECT  b.BOARD_SHARE_RECIPE_ID, 
			b.BOARD_SHARE_RECIPE_TITLE, 
			b.BOARD_SHARE_RECIPE_TXT, 
			b.BOARD_SHARE_RECIPE_DATE, 
			b.BOARD_SHARE_RECIPE_RECOMMAND, 
			b.BOARD_SHARE_RECIPE_HITS, 
			b.BOARD_SHARE_IRDNT_ETC , 
			b.MEMBER_ID,
			s.SHARE_RECIPE_IRDNT_KEY, 
			s.BOARD_SHARE_RECIPE_ID, 
			s.IRDNT_ID
	FROM BOARD_SHARE_RECIPE b, SHARE_RECIPE_IRDNT s
	WHERE b.BOARD_SHARE_RECIPE_ID = s.BOARD_SHARE_RECIPE_ID(+) 
	AND b.BOARD_SHARE_RECIPE_ID = #{recipeId}
	</select> 
	
	<select id="boardRead" parameterType="int" resultMap="boardShareRecipe-resultmap">
	SELECT * FROM BOARD_SHARE_RECIPE
	WHERE BOARD_SHARE_RECIPE_ID = #{recipeId}
	</select>
	
	<select id="selectBoardShareRecipeByRecipeIdToIrdnt" parameterType="int"
	resultMap="boardShareRecipe-resultmap">
	<include refid="select-boardShareRecipe"/>
	WHERE BOARD_SHARE_RECIPE_ID = #{recipeId}
	</select>
	<!--*************************************************  -->
	<!--레시피 공유게시판 id들로 조회한거-->
	<select id="selectBoardShareRecipeById" resultMap="boardShareRecipe-resultmap" parameterType="java.util.HashMap">
		
		   SELECT <include refid="all-column"/>		
     FROM (	
     	SELECT rownum rnum,<include refid="all-column"/>
     	FROM(
		
		SELECT
		<include refid="all-column" />
		FROM BOARD_SHARE_RECIPE
		<where>
			<choose>
				<when test="recipeIds != null and recipeIds.size() > 0">
					BOARD_SHARE_RECIPE_ID in
					<foreach collection="recipeIds" open="(" close=")" separator="," item="recipeId">
						#{recipeId}
					</foreach>
				</when>
				<otherwise>
				1=-1
				</otherwise>
			</choose>
		</where>)
     	 WHERE rownum &lt;=#{endIndex})
   	WHERE rnum>=#{startIndex}
	

	</select>
	
	<!--레시피 공유게시판 id들로 조회 수 -->
	<select id="selectBoardShareRecipeByIdCount" resultType="_int" parameterType="java.util.List">
		SELECT count(*)
		FROM BOARD_SHARE_RECIPE
		<where>
			<choose>
				<when test="list != null and list.size()>0">
					BOARD_SHARE_RECIPE_ID in
					<foreach collection="list" open="(" close=")" separator="," item="recipeId">
						#{recipeId}
					</foreach>
				</when>
				<otherwise>
				1=-1
				</otherwise>
			</choose>
		</where>
	</select>
	
</mapper>