<?xml version="1.0" encoding="UTF-8"?>
<!-- /**
 (Mapper)MemberMapper
작성자 :  김경혜
최초 작성일 170627
변경이력 
*/ -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

<sql id="select-member-sql">
	SELECT login_id, login_pw, member_name, member_address,
			member_email, member_tel, member_sex
	FROM member
</sql>

<resultMap type="member" id="member-resultmap">
	<id column="login_id" property="loginId"/>
	<result column="login_pw" property="loginPw"/>
	<result column="member_name" property="memberName"/>
	<result column="member_address" property="memberAddress"/>
	<result column="member_email" property="memberEmail"/>
	<result column="member_tel" property="memberTel"/>
	<result column="member_sex" property="memberSex"/>
</resultMap>

	<!-- 	int insertMember(Member member); -->
	<!-- 개인회원 가입하기_ 하나의 회원정보를 입력 -->
	<insert id="insertMember" parameterType="member">
	INSERT INTO member VALUES(#{loginId},#{loginPw},#{memberName},#{memberAddress},
											#{memberEmail},#{memberTel},#{memberSex})
	</insert>
	
	<!-- 	int updateMember(Member member); -->
	<!-- 개인회원정보 수정하기_하나의 회원정보를 수정 -->
	<update id="updateMember" parameterType="member">
	UPDATE member
	SET login_pw=#{memverPw},
		member_name=#{memberName},
		member_address=#{memberAddress},
		member_email=#{memberEmail},
		member_tel=#{memberTel},
		member_sex=#{memberSex}
	WHERE login_id=#{loginId}
	</update>
	
	<!-- 	int deleteMemberById(String loginId); -->
	<!-- 	 (사용자)개인회원 탈퇴하기 & (관리자)개인회원 강제탈퇴시키기_하나의 회원정보를 삭제-->
	<delete id="deleteMemberById" parameterType="String">
	DELETE FROM member WHERE login_id=#{value}
	</delete>
	
	<!-- 	List<Member> selectMemberList(); -->
	<!-- 전체개인회원정보 조회하기 -->
	<select id="selectMemberList" resultMap="member-resultmap">
		<include refid="select-member-sql"/>
	</select>
	

	<!-- 	Member selectMemberById(String loginId); -->
	<!-- 	개인회원 로그인하기 & 개인회원정보조회하기_loginId를 매개변수로 받아 하나의 회원정보를 조회. -->
	<select id="selectMemberById" parameterType="String" resultMap="member-resultmap">
		<include refid="select-member-sql"/>
		WHERE login_id=#{value}
	</select>
	
	
<!-- 	Member selectMemberByEmail(String memberEmail); -->
<!-- 	 개인회원 이메일 계정으로 아이디/비번 찾기_memberEmail를 매개변수로 받아 하나의 회원정보를조회. -->
	<select id="selectMemberByEmail" parameterType="String" resultMap="member-resultmap">
		<include refid="select-member-sql"/>
		WHERE member_email=#{value}
	</select>
	
</mapper>