<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.co.turnup_fridger.config.mybatis.mapper.RecipeIrdntMapper">
	
	<sql id="all-column">
		irdnt_no,
		irdnt_name,
		irdnt_amount,
		irdnt_type_code,
		irdnt_type_name,
		recipe_id,
		irdnt_id
	</sql>
	
	<resultMap type="RecipeIrdnt" id="RecipeIrdnt-resultmap">
		<id column="irdnt_no" property="irdntNo"/>
		<result column="irdnt_name" property="irdntName"/>
		<result column="irdnt_amount" property="irdntAmount"/>
		<result column="irdnt_type_code" property="irdntTypeCode"/>
		<result column="irdnt_type_name" property="irdntTypeName"/>
		<result column="recipe_id" property="recipeId"/>
		<result column="irdnt_id" property="irdntId"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="searchResult">
		<id column="count" property="count"/>
		<result column="recipe_id" property="recipe_id"/>
	</resultMap>
	
	<insert id="insertRecipeIrdnt" parameterType="RecipeIrdnt">
	<selectKey order="BEFORE" keyProperty="irdntNo" resultType="int">
				SELECT IRDNT_NO_seq.nextval FROM dual
	</selectKey>
		insert into RECIPE_IRDNT 
		values (#{irdntNo},#{irdntName},#{irdntAmount},#{irdntTypeCode},#{irdntTypeName},#{recipeId},#{irdntId})
	</insert>
	
	<update id="updateRecipeIrdnt" parameterType="RecipeIrdnt">
		update RECIPE_IRDNT
		set irdnt_no=#{irdntNo},
			irdnt_name=#{irdntName},
			irdnt_amount=#{irdntAmount},
			irdnt_type_code=#{irdntTypeCode},
			irdnt_type_name=#{irdntTypeName},
			recipe_id=#{recipeId},
			irdnt_id=#{irdntId}
		where irdnt_no=#{irdntNo}
	</update>
	
	<delete id="deleteRecipeIrdnt" parameterType="_int">
		delete from RECIPE_IRDNT
		where irdnt_no=#{irdntNo}
	</delete>
	
	<select id="selectAllRecipeIrdnt" resultMap="RecipeIrdnt-resultmap">
		SELECT
		<include refid="all-column" />
		FROM RECIPE_IRDNT
	</select>
	
	<select id="selectRecipeIrdntById" resultMap="RecipeIrdnt-resultmap" parameterType="_int">
		SELECT
		<include refid="all-column" />
		FROM RECIPE_IRDNT
		where recipe_id = #{recipeId}
	</select>
	
	<select id="selectRecipeIrdntByNo" resultMap="RecipeIrdnt-resultmap" parameterType="_int">
		SELECT
		<include refid="all-column" />
		FROM RECIPE_IRDNT
		where irdnt_no=#{irdntNo}
	</select>
	
	<select id="selectRecipeIrdntByName" resultMap="RecipeIrdnt-resultmap" parameterType="java.lang.String">
		SELECT
		<include refid="all-column" />
		FROM RECIPE_IRDNT
		where irdnt_name like '%'||#{irdntName}||'%'
	</select>
	
	<select id="getRecipeCodeByIrdntIds" resultMap="searchResult" parameterType="java.util.HashMap">
		SELECT recipe_id recipe_id,COUNT(*) count 
		FROM RECIPE_IRDNT
		WHERE recipe_id NOT IN (
				SELECT recipe_id
				FROM recipe_irdnt
				<where>
					<choose>
						<when test="hateIrdntIds !=null and hateIrdntIds.size()>0">
							irdnt_id IN 
							<foreach collection="hateIrdntIds" open="(" close=")" separator="," item="hateIrdntId">
								#{hateIrdntId}
							</foreach>
						</when>
						<otherwise>
						1=-1
						</otherwise>
					</choose>
				</where>)and 
					<choose>
						<when test="irdntIds !=null and irdntIds.size()>0">
							irdnt_id IN
							<foreach collection="irdntIds" open="(" close=")" separator="," item="irdntId">
								#{irdntId}
							</foreach>
						</when>
						<otherwise>
						1=-1
						</otherwise>
					</choose>
		GROUP BY recipe_id
		HAVING COUNT(*) >= 1
		ORDER BY COUNT(*) DESC, recipe_id
	</select>
	
</mapper>