<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.turnup_fridger.config.mybatis.mapper.ShareRecipeIrdntMapper">

	<sql id="all-column">
		SELECT
		SHARE_RECIPE_IRDNT_KEY,
		BOARD_SHARE_RECIPE_ID,
		IRDNT_ID
		FROM SHARE_RECIPE_IRDNT
	</sql>
	
	<!-- resultmap -->
	<resultMap type="shareRecipeIrdnt" id="shareRecipeIrdnt-resultmap">
		<id column="SHARE_RECIPE_IRDNT_KEY" property="irdntKey"/>
		<result column="BOARD_SHARE_RECIPE_ID" property="recipeId"/>
		<result column="IRDNT_ID" property="irdntId"/>
	</resultMap>
		
	<resultMap type="java.util.HashMap" id="searchResult">
		<id column="count" property="count"/>
		<result column="BOARD_SHARE_RECIPE_ID" property="recipeId"/>
	</resultMap>
	
	<!-- resultMap 공유게시판+공유재료+재료보관 -->
	<resultMap type="shareRecipeIrdnt" id="shareRecipeIrdnt-manage-resultmap" extends="shareRecipeIrdnt-resultmap">
		<association property="irdntManage" resultMap="kr.co.turnup_fridger.config.mybatis.mapper.IrdntManageMapper.irdntManage-resultmap"/>
		<association property="boardShareRecipe" resultMap="kr.co.turnup_fridger.config.mybatis.mapper.BoardShareRecipeMapper.boardShareRecipe-resultmap"/>	
	</resultMap>
	
	<!-- resultMap 공유재료+재료보관 -->
	<resultMap type="shareRecipeIrdnt" id="recipeId-resultmap" extends="shareRecipeIrdnt-resultmap">
		<association property="irdntManage" resultMap="kr.co.turnup_fridger.config.mybatis.mapper.IrdntManageMapper.irdntManage-resultmap"/>
	</resultMap>
	
	
	
	<insert id="insertShareRecipeIrdnt" parameterType="shareRecipeIrdnt">
		<selectKey keyProperty="irdntKey" resultType="int" order="BEFORE">
		SELECT SHARE_RECIPE_IRDNT_KEY.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO SHARE_RECIPE_IRDNT
		VALUES(#{irdntKey},
			   #{recipeId},
			   #{irdntId})
	</insert>
	
	<update id="updateShareRecipeIrdnt" parameterType="shareRecipeIrdnt">
		UPDATE SHARE_RECIPE_IRDNT
		SET BOARD_SHARE_RECIPE_ID = #{recipeId},
			IRDNT_ID = #{irdntId}
		WHERE SHARE_RECIPE_IRDNT_KEY = #{irdntKey}
	</update>
	
	<delete id="deleteShareRecipeIrdnt" parameterType="int">
		DELETE FROM SHARE_RECIPE_IRDNT
		WHERE SHARE_RECIPE_IRDNT_KEY = #{irdntKey}
	</delete>
	
	<delete id="deleteShareRecipeIrdntByRecipeId" parameterType="int">
		DELETE FROM SHARE_RECIPE_IRDNT
		WHERE BOARD_SHARE_RECIPE_ID = #{recipeId}
	</delete>
	
	<delete id="deleteShareRecipeIrdntByIrdntId" parameterType="int">
		DELETE FROM SHARE_RECIPE_IRDNT
		WHERE IRDNT_ID = #{irdntId}
	</delete>
	
	<!-- <select id="selectShareRecipeIrdntAll" resultMap="shareRecipeIrdnt-resultmap">
		<include refid="all-column"/>
	</select> -->
	
	<!-- <select id="selectShareRecipeIrdntByIrdntId" parameterType="int" resultMap="shareRecipeIrdnt-resultmap">
		<include refid="all-column"/>
		WHERE IRDNT_ID = #{irdntId}
	</select> -->
	
	
	<!-- 왕준 레시피 재료 + 누나 레시피 재료 -->
	<select id="selectRecipeId" parameterType="int" resultMap="recipeId-resultmap">
		SELECT 	s.SHARE_RECIPE_IRDNT_KEY,
				s.BOARD_SHARE_RECIPE_ID,
				s.IRDNT_ID,
				m.IRDNT_ID,
				m.IRDNT_NAME,
				m.IRDNT_CATEGORY,
				m.ROOM_TEM_PERIOD,
				m.COLD_TEM_PERIOD,
				m.FREEZE_TEM_PERIOD,
				m.NOTE
		FROM SHARE_RECIPE_IRDNT s, IRDNT_MANAGE m 
		WHERE s.IRDNT_ID = m.IRDNT_ID(+)
		AND s.BOARD_SHARE_RECIPE_ID = #{recipeId}
	</select> 
	
	
	
	
	
	
	
		<!-- 3개 조인  -->
	<select id="selectShareRecipeIrdntByRecipeId" parameterType="int" resultMap="shareRecipeIrdnt-manage-resultmap">
		SELECT 	b.BOARD_SHARE_RECIPE_ID, 
				b.BOARD_SHARE_RECIPE_TITLE, 
				b.BOARD_SHARE_RECIPE_TXT, 
				b.BOARD_SHARE_RECIPE_DATE, 
				b.BOARD_SHARE_RECIPE_RECOMMAND, 
				b.BOARD_SHARE_RECIPE_HITS, 
				b.BOARD_SHARE_IRDNT_ETC, 
				b.BOARD_SHARE_RECIPE_SAVE_NAME,
				b.BOARD_SHARE_RECIPE_ORIGINAL,
				b.MEMBER_ID,
				s.SHARE_RECIPE_IRDNT_KEY,
				s.BOARD_SHARE_RECIPE_ID,
				s.IRDNT_ID,
				m.IRDNT_ID,
				m.IRDNT_NAME,
				m.IRDNT_CATEGORY,
				m.ROOM_TEM_PERIOD,
				m.COLD_TEM_PERIOD,
				m.FREEZE_TEM_PERIOD,
				m.NOTE
		FROM BOARD_SHARE_RECIPE b, SHARE_RECIPE_IRDNT S , IRDNT_MANAGE m 
		WHERE b.BOARD_SHARE_RECIPE_ID = s.BOARD_SHARE_RECIPE_ID(+)
		AND	s.IRDNT_ID = m.IRDNT_ID(+)
		AND b.BOARD_SHARE_RECIPE_ID = #{recipeId}
	</select> 
	
	<select id="selectShareRecipeIrdntByRecipeIdNotList" parameterType="int" resultMap="shareRecipeIrdnt-manage-resultmap">
		SELECT 	b.BOARD_SHARE_RECIPE_ID, 
				b.BOARD_SHARE_RECIPE_TITLE, 
				b.BOARD_SHARE_RECIPE_TXT, 
				b.BOARD_SHARE_RECIPE_DATE, 
				b.BOARD_SHARE_RECIPE_RECOMMAND, 
				b.BOARD_SHARE_RECIPE_HITS, 
				b.BOARD_SHARE_IRDNT_ETC, 
				b.BOARD_SHARE_RECIPE_SAVE_NAME,
				b.BOARD_SHARE_RECIPE_ORIGINAL,
				b.MEMBER_ID,
				s.SHARE_RECIPE_IRDNT_KEY,
				s.BOARD_SHARE_RECIPE_ID,
				s.IRDNT_ID,
				m.IRDNT_ID,
				m.IRDNT_NAME,
				m.IRDNT_CATEGORY,
				m.ROOM_TEM_PERIOD,
				m.COLD_TEM_PERIOD,
				m.FREEZE_TEM_PERIOD,
				m.NOTE
		FROM BOARD_SHARE_RECIPE b, SHARE_RECIPE_IRDNT S , IRDNT_MANAGE m 
		WHERE b.BOARD_SHARE_RECIPE_ID = s.BOARD_SHARE_RECIPE_ID(+)
		AND	s.IRDNT_ID = m.IRDNT_ID(+)
		AND b.BOARD_SHARE_RECIPE_ID = #{recipeId}
	</select> 
	
	<select id="getRecipeBoardIdByIrdntIds" resultMap="searchResult" parameterType="java.util.HashMap">
		SELECT COUNT(*) count, BOARD_SHARE_RECIPE_ID BOARD_SHARE_RECIPE_ID
		FROM SHARE_RECIPE_IRDNT
		WHERE BOARD_SHARE_RECIPE_ID NOT IN (
				SELECT BOARD_SHARE_RECIPE_ID
				FROM SHARE_RECIPE_IRDNT
				<where>
					<choose>
						<when test="hateIrdntIds !=null and hateIrdntIds.size()>0">
							irdnt_id IN 
							<foreach collection="hateIrdntIds" open="(" close=")" separator="," item="hateIrdntId">
								#{hateIrdntId}
							</foreach>
						</when>
						<otherwise>
						1=-1
						</otherwise>
					</choose>
				</where>)and
				<choose>
						<when test="irdntIds !=null and irdntIds.size()>0">
							irdnt_id IN
							<foreach collection="irdntIds" open="(" close=")" separator="," item="irdntId">
								#{irdntId}
							</foreach>
						</when>
						<otherwise>
						1=-1
						</otherwise>
					</choose>
		GROUP BY BOARD_SHARE_RECIPE_ID
		HAVING COUNT(*) >= 1
		ORDER BY COUNT(*) DESC,BOARD_SHARE_RECIPE_ID
	</select>
	
	<select id="selectShareRecipeByIrdntKey" parameterType="int" resultMap="shareRecipeIrdnt-resultmap">
		<include refid="all-column"/>
		WHERE SHARE_RECIPE_IRDNT_KEY = #{irdntKey}
	</select>
	
	<select id="selectShareRecipeIrdntByRecipeIdByIrdntId" parameterType="shareRecipeIrdnt"
	resultMap="shareRecipeIrdnt-resultmap">
		<include refid="all-column"/>
		WHERE BOARD_SHARE_RECIPE_ID = #{recipeId} AND IRDNT_ID = #{irdntId}
	</select>
	
	
	
	
</mapper>