<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.turnup_fridger.config.mybatis.mapper.ShareRecipeIrdntMapper">

	<sql id="all-column">
		SELECT
		SHARE_RECIPE_IRDNT_KEY,
		BOARD_SHARE_RECIPE_ID,
		IRDNT_ID
		FROM SHARE_RECIPE_IRDNT
	</sql>
	
	<!-- resultmap -->
	<resultMap type="shareRecipeIrdnt" id="shareRecipeIrdnt-resultmap">
		<id column="SHARE_RECIPE_IRDNT_KEY" property="irdntKey"/>
		<result column="BOARD_SHARE_RECIPE_ID" property="recipeId"/>
		<result column="IRDNT_ID" property="irdntId"/>
	</resultMap>
		
	<resultMap type="java.util.HashMap" id="searchResult">
		<id column="count" property="count"/>
		<result column="BOARD_SHARE_RECIPE_ID" property="recipeId"/>
	</resultMap>
	
	<insert id="insertShareRecipeIrdnt" parameterType="shareRecipeIrdnt">
		<selectKey keyProperty="irdntKey" resultType="int" order="BEFORE">
		SELECT SHARE_RECIPE_IRDNT_KEY.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO SHARE_RECIPE_IRDNT
		VALUES(#{irdntKey},
			   #{recipeId},
			   #{irdntId})
	</insert>
	
	<update id="updateShareRecipeIrdnt" parameterType="shareRecipeIrdnt">
		UPDATE SHARE_RECIPE_IRDNT
		SET BOARD_SHARE_RECIPE_ID = #{recipeId},
			IRDNT_ID = #{irdntId}
		WHERE SHARE_RECIPE_IRDNT_KEY = #{irdntKey}
	</update>
	
	<delete id="deleteShareRecipeIrdnt" parameterType="int">
		DELETE FROM SHARE_RECIPE_IRDNT
		WHERE SHARE_RECIPE_IRDNT_KEY = #{irdntKey}
	</delete>
	
	<select id="selectShareRecipeIrdntAll" resultMap="shareRecipeIrdnt-resultmap">
		<include refid="all-column"/>
	</select>
	
	<select id="selectShareRecipeIrdntByIrdntId" parameterType="int" resultMap="shareRecipeIrdnt-resultmap">
		<include refid="all-column"/>
		WHERE IRDNT_ID = #{irdntId}
	</select>
	
	<select id="selectShareRecipeIrdntByRecipeId" parameterType="int" resultMap="shareRecipeIrdnt-resultmap">
		<include refid="all-column"/>
		WHERE BOARD_SHARE_RECIPE_ID = #{recipeId}
	</select>
	
	<select id="getRecipeBoardIdByIrdntIds" resultMap="searchResult" parameterType="java.util.HashMap">
		SELECT COUNT(*) count, BOARD_SHARE_RECIPE_ID BOARD_SHARE_RECIPE_ID
		FROM SHARE_RECIPE_IRDNT
		WHERE BOARD_SHARE_RECIPE_ID NOT IN (
				SELECT BOARD_SHARE_RECIPE_ID
				FROM SHARE_RECIPE_IRDNT
				<where>
					<choose>
						<when test="hateIrdntIds !=null and hateIrdntIds.size()>0">
							irdnt_id IN 
							<foreach collection="hateIrdntIds" open="(" close=")" separator="," item="hateIrdntId">
								#{hateIrdntId}
							</foreach>
						</when>
						<otherwise>
						1=-1
						</otherwise>
					</choose>
				</where>)and
				<choose>
						<when test="irdntIds !=null and irdntIds.size()>0">
							irdnt_id IN
							<foreach collection="irdntIds" open="(" close=")" separator="," item="irdntId">
								#{irdntId}
							</foreach>
						</when>
						<otherwise>
						1=-1
						</otherwise>
					</choose>
		GROUP BY BOARD_SHARE_RECIPE_ID
		HAVING COUNT(*) >= 1
		ORDER BY COUNT(*) DESC,BOARD_SHARE_RECIPE_ID
	</select>
	
	
	
	
</mapper>